.ProductData {
  background-color: rgb(0, 0, 0);
  flex-direction: column;
  gap: 10px;

  display: flex;
}

.ProductData img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}
