.ProductSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 400px;
  background: rgb(230, 195, 164);
  background: linear-gradient(
    180deg,
    rgb(232, 106, 2) 11%,
    rgba(242, 201, 76, 1) 100%,
    rgba(255, 255, 255, 0) 100%
  );

  opacity: 1;
  transition: opacity 0.3s ease;
}

.fade-out {
  opacity: 0.3;
}
.ProductSection_close {
  position: absolute;
  background-color: #f57200;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  top: 10px;
  right: 10px;
  color: #fdbb2d;
  font-weight: 600;
  z-index: 1;
}

.ProductSection_close:active {
  position: absolute;
  background-color: #d70b04;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  top: 10px;
  right: 10px;
  color: #fdbb2d;
  font-weight: 600;
  z-index: 1;
}
.ProductSection_main {
  display: flex;

  background: black;
  width: 100%;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.content_img {
  display: flex;
  position: relative;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 400px;
}
.ProductSection img {
  height: 80%;
  width: 80%;
  object-fit: cover;
  object-position: center;
}

.productSections_text {
  display: flex;
  height: fit-content;
  flex-direction: column;
}

.productSections_text_main {
  display: flex;
  background-color: rgba(0, 0, 0, 0);
  width: 40%;
  margin: 0;
  padding: 0;
  flex-direction: column;
  align-items: center;
  height: 60px;
  justify-content: center;
  position: absolute;
  transform: translateY(150px);
  opacity: 90%;
  width: fit-content;
  padding: 10px 30px;
  backdrop-filter: blur(18px);
}

.productSections_text_main h2,
p {
  margin: 0;
  padding: 0;
  width: fit-content;
  color: rgb(255, 255, 255);
}

.productSections_ingredients {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;

  padding: 0px 40px;
}
.ingredient_title {
  text-transform: uppercase;
  color: black;
  margin-top: 40px;
  padding-bottom: 20px;
  font-size: 18px;
  border-bottom: 2px solid black;
  width: 100%;
  font-weight: bold;
}
.list_ingredients {
  display: flex;

  justify-content: center;

  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.ingredient {
  margin: 5px;
  padding: 5px 12px;
  color: #ffffff;
  flex-wrap: wrap;
  list-style-type: none;
  background-color: #000000;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.description {
  color: rgb(1, 1, 1);
  width: 80%;
  padding: 10px 15px;
}
